body{
	font-family: sans-serif;
	background: black;
}
h1{
	text-align: center;
color:  #03a9f4;
margin:30px 0 50px;
}
.gallery{
	margin: 60px 120px;
	border-image: 10px;
}
.gallery img{
	width: 230px;
	padding:10px;
	filter: grayscale(100%);
	transition: 1s;
}
.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}
.button a{
margin-top: 20px;
margin-left: 10px;
  float: right;
  width:70px;
  
  color:#03a9f4;


}
.button a:hover
{
  background:grey;
  color:#003366;
}
.btn{
	margin:50px;
  border:1px;
  border-radius:5px;
  background: white;
  opacity:0.7;
  padding:10px 30px;
  color:#fff;
  text-decoration: none;
}

