body{
	margin: 0;
	padding:0;
	font-family:sans-serif;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(log.jpg);
	background-size:cover;
	background-position: center;

}
.box{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	padding:40px;
	background:rgba(0,0,0,0.8);
	box-sizing:border-box;
	box-shadow:0 15px 25px rgba(0,0,0,0.5);
border-radius:10px;
}
.box h2{
	font-size: 20px;
	border-bottom:6px solid #03a9f4;
	margin-bottom:50px;
	margin:0 0 30px;
	padding: 13px 0;
	color:#fff;
	text-align:center;
	}

.box .inputBox
{
	position:relative;
}
.box .inputBox input
{
	width:100%;
	padding:10px 0;
	font-size:20px;
	color:#fff;
	letter-spacing: 1px;
	margin-bottom:30px;
	border:none;
	border-bottom: 1px solid #fff;
outline:none;
background:transparent;
}
.box .inputBox label
{
	position:absolute;
	top:0;
	left:0;
	padding:10px 0;
	font-size:16px;
	color:#fff;
	letter-spacing: 1px;
	pointer-events:none;
	transition:0.5s;

}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
	top:-18px;
	left: 0;
	color: #03a9f4;
	font-size:16px;
}

.box input[type="submit"]
{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9f4;
	padding:10px 20px;
	border-radius: 5px;
}
.box input[type="submit"]:hover
{
	cursor:pointer;
	background: #003366;
}
.box a{
	text-decoration: none;
font-size: 12px;
line-height: 20px;
color:#03a9f4;
}
.box a:hover
{
	color:#003366;
}
.button a{
margin-top: 20px;
margin-left: 10px;
	float: left;
	width:70px;
	height: auto;
	color:#03a9f4;


}
.button a:hover
{
	background:grey;
	color:#003366;
}
.btn{
	border:1px;
	border-radius:5px;
	background: black;
	opacity:0.7;
	padding:10px 30px;
	color:#fff;
	text-decoration: none;
}
